/* Admin style rules Start */
* {
	margin: 0;
	padding: 0;
	font-family: verdana,arial,sans-serif;
}

body {
	font-size: 62.5%;
}
.admin_bar {
	background: #000;
	display: block;
	padding: 10px 12px;
	text-align: right;
	margin: 0 0 30px 0;
	color: #fff;
}

.content h1 {
	margin: 10px auto;
	line-height: 1.3em;
}
.admin_bar a {
	color: red;
}

.admin_bar a:hover {
	color: orange;
}

.flag {
	color: red;
}

.content {
	text-align: center;
	font-size: 1.5em;
	line-height: 1.5em;
}

input {
	font-size: 2em;
	margin-top: 0.8em;
}

legend {
	margin-bottom: 0.8em;
	color: red;
	display: none;
}

.logo {
	text-align: center;
}

.logo img {
	margin: 0 auto;
	border: 0;
}

.form_button {
	color: #fff;
	background: red;
	padding: 5px;
}

.form_button:hover {
	background: orange;
	color: #000;
}

.flag_txt {
	color: red;
}

.admin_menu {
	list-style: none;
	margin: 10px 0;
}

.admin_menu li {
	display: inline;
}

.admin_menu .button a {
	background: red;
	color: #fff;
	padding: 5px;
        font-size: 2em;
	text-decoration: none;
    font-family: 'Courier New',Courier,monospace;
}

.admin_menu .button a:hover {
	background: orange;
	color: #000;
}

.content form {
	margin-bottom: 20px;
}
/* Admin style rules end */
/*Front-end style rules start */
.form .content {
	width: 100%;
}

.form .content .wrapper {
	width: 800px;
	margin: 0 auto;
	height: 900px;
}

.wrapper label {
	display: inline;
	width: 300px;
	float: left;
	text-align: right;
	padding: 0 10px 0 0;
}

.content .wrapper form {
	width: 100%;
	display: block;
	height: 600px;
}
.form .content .wrapper input {
	display: inline;
	width: 300px;
	float: left;
	text-align: left;
	margin: 0 0 3px 0;
}

.wrapper form p {
	display: block;
	clear: left;
	margin: 10px 0;
	text-align: left;
}

.wrapper form .submit {
	clear: both;
	float: none;
	height: 30px;
	width: 600px;
	text-align: right!important;
}
.wrapper form .submit input{
	clear: both;
	float: right!important;
	display: block;
	width: 80px!important;
	text-align: center!important;
	margin: 10px 0!important;
	color: #fff;
	background: red;
	padding: 5px;
}

.hidden {
	display: none!important;
}
/*Front-end style rules end */

.tandcs {
    text-align: left;
    width: 800px;
    margin:40px auto;
    font-size: 1.3em;
}

.tandcs h1, 
.tandcs h2 {
    margin: 10px 0;
}

.tandcs ul {
    margin: 10px 0;
}
.tandcs li {
    margin: 0 0 10px 0;
}